.form-validate {
    border: 1px solid #ccc;
    margin: 0 auto;
    width: 400px;
    background-color: rgb(255, 227, 208);
    border-radius: 5px;
    h1 {
        text-align: center;
    }
    .form__row {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        margin: 10px 0;
        span {
            text-align: left;
            padding: 0 10px;
            width: 30%;
            margin-right: 24px;
        }
        &-input {
            margin-left: -30px;
            flex: 1;
            font-size: 18px;
        }
    }
    .form-input-submit,
    .form-input-reset {
        padding: 5px 10px;
        background-color: red;
        color: #fff;
        margin: 0 auto;
        margin-top: 20px;
        cursor: pointer;
    }
    .form-input-submit {
        display: block;
    }

    .form-check-error {
        display: block;
        text-align: left;
        padding: 0 10px;
        margin-left: 10px;
        color: red;
    }
}
